
$font-small: ( 
  font-weight: 400, 
  font-size: 9px, 
  line-height: 11px, 
  color:gray,
); 
 
$font-regular: ( 
  font-weight: 400, 
  font-size: 11px, 
  line-height: 14px, 
); 
 
$font-large: ( 
  font-weight: 700, 
  font-size: 14px, 
  line-height: 20px, 
); 